<mat-toolbar color="primary">


  <button mat-button [matMenuTriggerFor]="menu">Menu</button>
  <mat-menu #menu="matMenu">


    <div>
      <button mat-menu-item color="primary" (click)="overviewSports()">Overview Sports</button>
    </div>

    <div>
      <button mat-menu-item color="primary" (click)="overviewAthletesBySport()">Overview Athletes by sport</button>
    </div>

    <div>
      <button mat-menu-item color="primary" (click)="addTeam()">Assign Athletes to Team</button>
    </div>


    <div>
      <button mat-menu-item color="primary" (click)="home()">Home </button>
    </div>





  </mat-menu>
  <span class="example-spacer"></span>




  <div class="buttons-row">


    <button classs="distance-buttons" mat-raised-button aria-label="Example icon-button with share icon"
      (click)="changePassword()">
      Change password
    </button>

    <button classs="distance-buttons" mat-raised-button aria-label="Example icon-button with share icon" style="margin-left: 10px;"
      (click)="back()">
      Log out/Home 
    </button>
  </div>


</mat-toolbar>



<mat-card>
  <h5>National Delegation page</h5>
  <mat-card-title>Add a new Athlete</mat-card-title>
  <mat-card-content>
    <form>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4">

            <mat-form-field>
              <input type="text" matInput placeholder="Name" [(ngModel)]="name" name="name">
            </mat-form-field>



            <mat-form-field>
              <input type="text" matInput placeholder="Surname" [(ngModel)]="surname" name="surname">
            </mat-form-field>






            <mat-form-field appearance="fill">
              <mat-label>Discipline</mat-label>
              <mat-select [formControl]="disciplineFormControl" multiple>
                <mat-optgroup *ngFor="let sport of sports" [label]="sport.sportName">
                  <mat-option *ngFor="let d of sport.disciplines"
                    [value]="d">
                    {{d.discipline.disciplineName}}
                  </mat-option>
                </mat-optgroup>
              </mat-select>
            </mat-form-field>

            <label style="color: blue">Sex: </label>
            <mat-radio-group [formControl]="typeFormControl" style="margin-right: 20px;">
              <mat-radio-button value="man">Man</mat-radio-button>
              <mat-radio-button value="woman">Woman</mat-radio-button>

            </mat-radio-group>

            
      <p *ngIf="error" class="error">
        {{ error }}
      </p>

      <button classs="distance-buttons" color="primary" mat-raised-button
        aria-label="Example icon-button with share icon" (click)="addAthlete()">
        Add Athlete
      </button>
          </div>
  
        </div>
      </div>
     








    </form>



  </mat-card-content>
</mat-card>

<!-- <br>
<div class="span3">

  <div class="container">
    <h5>All players</h5>
    <div class="row">
      <div class="col-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Surname</th>
              <th scope="col">Country</th>
              <th scope="col">Sex</th>
              <th scope="col">Sport</th>
              <th scope="col">Disciplines</th>
              <th scope="col">Medal Winner</th>

            </tr>
          </thead>
          <tbody>

            <tr *ngFor='let c of competitors'>
              <td>
                {{c.name}}

              </td>
              <td>
                {{c.surname}}
              </td>
              <td>
                {{c.country.countryName}}
              </td>
              <td>
                {{c.sex}}
              </td>
              <td>
                {{c.competesIn[0].sportName}}
              </td>
              <td>
                <div *ngFor='let d of c.competesIn'>
                  {{d.disciplineName}}
                </div>
              </td>
              <td>
                {{c.medalWinner}}
              </td>


            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div> -->

<div class="container">
  
  <div class="d-flex justify-content-between p-2">
    <mat-paginator [pageSizeOptions]="[5, 10, 20,50,100]"
    showFirstLastButtons 
    aria-label="Select page of periodic elements">
</mat-paginator>

</div>
<h5>Search Results:</h5>
<div class="span3">
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>
  

    <ng-container matColumnDef="surname">
      <mat-header-cell *matHeaderCellDef> Surname </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.surname}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="country">
      <mat-header-cell *matHeaderCellDef> Country </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.country.countryName}} </mat-cell>
    </ng-container>
  

    <ng-container matColumnDef="sex">
      <mat-header-cell *matHeaderCellDef> Sex </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.sex}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="competesIn">
      <mat-header-cell *matHeaderCellDef> Disciplines </mat-header-cell>
      <mat-cell *matCellDef="let competitor"> 
        <ng-container *ngFor="let discipline of competitor.competesIn">
            {{discipline.disciplineName}}  
            <br>
        </ng-container>
    </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="medalWinner">
      <mat-header-cell *matHeaderCellDef> Medal Winner </mat-header-cell>
      <mat-cell *matCellDef="let competitor"> {{competitor.medalWinner}}</mat-cell>
     
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

</div>