<mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="submit()">
            <p>
                <mat-form-field>
                    <input type="text" matInput placeholder="Username" formControlName="username">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field>
                    <input type="password" matInput placeholder="Password" formControlName="password">
                </mat-form-field>
            </p>
            <div>
                <label>Select type of user</label>
                <mat-radio-group [formControl]="floatLabelControl">
                  <mat-radio-button value="organizer">Organizer</mat-radio-button>
                  <mat-radio-button value="delegate">Delegate</mat-radio-button>
                  <mat-radio-button value="nationalDelegate">National delegate</mat-radio-button>
                </mat-radio-group>
              </div>
       

            <p *ngIf="error" class="error">
                {{ error }}
            </p>

            <div class="button">
                <button type="submit" mat-button color="primary">Login</button>
            </div>

        </form>
    </mat-card-content>
</mat-card>