.example-spacer {
    flex: 1 1 auto;
  }
  section {
    display: table;
  }

.buttons-row{
    margin: 8px 8px 8px 0;
}

.distance-buttons
{
    margin: 0px 10px 0px 10px;
}

mat-card {
  width: calc(100% - 70px);
  height: calc(100% - 70px);
}

:host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.button {
  display: flex;
  justify-content: flex-end;
}
.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-container .mat-form-field {
  width: 220px;
}

.example-container form {
  margin-bottom: 20px;
}

.example-container form > * {
  margin: 5px 0;
}

.example-container .mat-radio-button {
  margin: 0 12px;
}
