<mat-toolbar color="primary">


  <button mat-button [matMenuTriggerFor]="menu">Menu</button>
  <mat-menu #menu="matMenu">


    <div>
      <button mat-menu-item color="primary" (click)="addSport()">Add a new Sport </button>
    </div>
    <!-- 
        <div>
            <button mat-menu-item color="primary" (click)="addTournament()">Add a Tournament</button>
        </div>

        <div>
            <button mat-menu-item color="primary" (click)="home()">Home </button>
        </div>
 -->


  </mat-menu>
  <span class="example-spacer"></span>

  <div class="buttons-row">


    <button classs="distance-buttons" mat-raised-button aria-label="Example icon-button with share icon"
      (click)="back()">
      Back
    </button>
  </div>


</mat-toolbar>

<h2> Sport name and Discipline name <span class="badge bg-info"></span></h2>
<h3>Sport:{{currentTournament.sportName}} Discipline: {{currentTournament.disciplineName}} <span
    class="badge bg-info"></span></h3>



<mat-grid-list cols="2" rowHeight="4:2">
  <mat-grid-tile>
    <mat-card>
      <mat-card-title>Select Delegate</mat-card-title>
      <mat-card-content>
        <form>


          <mat-form-field appearance="fill">
            <mat-label>Delegate</mat-label>
            <mat-select [(ngModel)]="delegate" name="delegate" placeholder="delegate">
              <mat-option *ngFor="let d of delegates" [value]="d.username" [value]="d">
                {{d.name}} {{d.surname}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>

        <p *ngIf="error" class="error">
          {{ error }}
        </p>
        <p *ngIf="message.length!=0" class="message">
          {{ message }}
        </p>

        <button classs="distance-buttons" mat-raised-button aria-label="Example icon-button with share icon"
          (click)="selectDelegate()">
          Select delegate
        </button>



      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card>
      <mat-card-title>
        Select players/teams:
      </mat-card-title>
      <mat-card-content>
        <!-- (change)="valueChange(model.units,unit,$event)" -->



        <form *ngIf="currentTournament.individual">
        
        </form>

        <form *ngIf="!currentTournament.individual">
         
        </form>


        <div *ngFor="let a of athletes">

          <mat-checkbox [checked]="a.checked">
            {{ a.name }} {{a.surname}} : {{a.country.countryName}}
          </mat-checkbox>
        </div>

        <div *ngFor="let t of teams">

          <mat-checkbox [checked]="t.checkedTeam">
            {{t.teamName}}
          </mat-checkbox>
        </div>





        <button classs="distance-buttons" mat-raised-button aria-label="Example icon-button with share icon"
          (click)="saveTournament()" color="primary">
          Save Changes
        </button>

      </mat-card-content>
    </mat-card>

  </mat-grid-tile>



</mat-grid-list>



<div class="container" *ngIf="currentTournament.individual">
  <h5>Athletes</h5>

  <div class="row">
    <div class="col-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Country</th>
            <th scope="col">Sex</th>
            <th scope="col">Sport</th>
            <th scope="col">Disciplines</th>
            <th scope="col">Medal Winner</th>

          </tr>
        </thead>
        <tbody>

          <tr *ngFor='let c of currentTournament.competitors'>
            <td>
              {{c.name}}

            </td>
            <td>
              {{c.surname}}
            </td>
            <td>
              {{c.country.countryName}}
            </td>
            <td>
              {{c.sex}}
            </td>
            <td>
              {{c.competesIn[0].sportName}}
            </td>
            <td>
              <div *ngFor='let d of c.competesIn'>
                {{d.disciplineName}}
              </div>
            </td>
            <td>
              {{c.medalWinner}}
            </td>


          </tr>

        </tbody>
      </table>

    </div>
  </div>
</div>



<div class="container" *ngIf="!currentTournament.individual">
  <h5>Teams in the tournament</h5>

  <div class="row">
    <div class="col-12">
      <div class="span3">
        <table class="table table-bordered">
          <thead>
            <tr>
  
              <th scope="col">Team name</th>
  
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let t of currentTournament.teams'>
              <td>
                {{t.teamName}}
              </td>
  
            </tr>
  
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>