.example-spacer {
    flex: 1 1 auto;
  }
  section {
    display: table;
  }

.buttons-row{
    margin: 8px 8px 8px 0;
}

.distance-buttons
{
    margin: 0px 2px 0px 2px;
}
.span3 {  
  height: 650px !important;
  overflow: scroll;
}